@{
    ViewBag.Title = "Oppdatering av kontaktinfo";
}

<div class="jumbotron">
    <h1>Bjørklund AS</h1>
    <p class="lead">Oppdatering av kontaktinfo</p>
    <p><a href="http://www.bjorklund.no" class="btn btn-primary btn-lg">Les mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Oppdatering av kontakt info hos Bjørklund</h2>
        <p>
            Her kan du oppdatere din kontaktinfo fra Bjørklund. For å gjøre dette må du ha mottatt en SMS hvor det er en link du må flge blalblbblb
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>