
@{
    ViewBag.Title = "Takk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1>Takk</h1>
    <h2>Takk for oppdateringen. Dine endringer er registrert. Denne siden kan nå lukkes</h2>
</hgroup>

